<!DOCTYPE html>
<html>
  <head>
    <title>Furima34779</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to image_tag("furima-logo-color.png", class: :logo), root_path %>
    <%= yield %>
  </body>
</html>
